html { box-sizing: border-box; } *, *::before, *::after { box-sizing: inherit; }

body {
  background-color: #000;
}



.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
  font-size: 50px;
}

.content {
  flex: 1;
  justify-content: center;
}

.deathstar img {
  animation:
    move 10s ease 1;
}

.content p {
color: lime;
animation: blink 1s steps(2, start) infinite;
}

#laser1 {
	position:absolute;
	width:100px;
	height:3px;
  top: 245px;
  left: 300px;
	transform: translate(50px,120px);
	background-color: lime;
	animation:
		laser 5s, 1;
	border-radius: 100px;
}

@keyframes move {
  0%{
    transform: translateX(450px);
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes blink {
to { color: cyan; }
}

@keyframes laser {
	0%{
    left:300px;
		width:0px;
		}
	100% {
    left:0px;
		width:100px;
		}
	}
